<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
 
  <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
  </httpProtocol>
        <handlers accessPolicy="Read, Script">
            <remove name="CGI-exe" />
            <remove name="ASPClassic" />
            <remove name="Python" />
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\Program Files\Python310\python.exe&quot; -u %s %s" resourceType="File" requireAccess="Script" />
            <add name="ASPClassic" path="*.asp" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="nim2" path="*.nim" verb="*" modules="FastCgiModule" scriptProcessor="&quot;C:\nim\bin\nim.exe&quot; c -r --verbosity:0 --hints:off --stdout --app:console %s %s" resourceType="File" requireAccess="Script" />
            <add name="Nim" path="*.nims" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\nim\bin\nim.exe&quot; e %s %s" resourceType="File" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Web01 Default http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".riv" mimeType="application/octet-stream" />
        </staticContent>

</system.webServer>
    <appSettings>
        <add key="PATH" value="C:\oracle\instantclient_18_5" />
    </appSettings>
</configuration>